.footer__column-links{
  margin: 20px auto 16px 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 1s linear;
}
.footer__column-links:hover{
  opacity: 0.6;
}
